<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lkw.picturerestoration"
    android:versionCode="6"
    android:versionName="1.0.5" >

    <uses-sdk android:minSdkVersion="8" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.INTERNET"/>  
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>    

    <application
        android:name="com.lkw.picturerestoration.common.ApplicationClass"
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.lkw.picturerestoration.LoadingActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Sherlock.Light" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.lkw.picturerestoration.MainActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:theme="@style/Theme.Sherlock.Light" >
        </activity>

        <service android:name="com.lkw.picturerestoration.common.AppService" >
            <intent-filter>
                <action android:name="com.lkw.picturerestoration.common.AppService" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </service>

        <receiver
            android:name="com.lkw.picturerestoration.common.BRcvr"
            android:enabled="true"
            android:exported="false"
            android:label="LocationLoggerServiceManager" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <activity
            android:name="com.google.ads.AdActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize" />
        <meta-data android:value="a1533f91b03084c" android:name="ADMOB_PUBLISHER_ID" />
    </application>

</manifest>